In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [8]:
#Type = Series
s = df['Name'][1:11]

In [9]:
s

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [10]:
#Type = Dataframe

s2 = df[['Name']][1:11]

In [11]:
s2

                                                 Name
1   Cumings, Mrs. John Bradley (Florence Briggs Th...
2                              Heikkinen, Miss. Laina
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                            Allen, Mr. William Henry
5                                    Moran, Mr. James
6                             McCarthy, Mr. Timothy J
7                      Palsson, Master. Gosta Leonard
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                 Nasser, Mrs. Nicholas (Adele Achem)
10                    Sandstrom, Miss. Marguerite Rut

In [12]:
type(s)

pandas.core.series.Series

In [13]:
type(s2)

pandas.core.frame.DataFrame

In [16]:
len(s)

10

In [19]:
#We can give our own index in own alphabet or word or number

l = ['shadab', 'a', 'b', 'c', 'py', 'p', 'q', 'r', 's', 't']

In [43]:
s1 = pd.Series(list(s),index = l)

In [44]:
s1

shadab    Cumings, Mrs. John Bradley (Florence Briggs Th...
a                                    Heikkinen, Miss. Laina
b              Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                                  Allen, Mr. William Henry
py                                         Moran, Mr. James
p                                   McCarthy, Mr. Timothy J
q                            Palsson, Master. Gosta Leonard
r         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
s                       Nasser, Mrs. Nicholas (Adele Achem)
t                           Sandstrom, Miss. Marguerite Rut
dtype: object

In [45]:
s2 = pd.DataFrame(list(s),index = l) #Doing the same operation in dataframe

In [46]:
s2

                                                        0
shadab  Cumings, Mrs. John Bradley (Florence Briggs Th...
a                                  Heikkinen, Miss. Laina
b            Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                                Allen, Mr. William Henry
py                                       Moran, Mr. James
p                                 McCarthy, Mr. Timothy J
q                          Palsson, Master. Gosta Leonard
r       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
s                     Nasser, Mrs. Nicholas (Adele Achem)
t                         Sandstrom, Miss. Marguerite Rut

In [47]:
s1[1]

'Heikkinen, Miss. Laina'

In [48]:
s1['shadab'] #We can fetch the element from the given index

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [49]:
s1[0] #Python alway remember the default index which can be used anytime

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [50]:
s3 = s1.append(s)

/tmp/ipykernel_70/983784494.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3 = s1.append(s)

In [52]:
s3 #Can append series only

shadab    Cumings, Mrs. John Bradley (Florence Briggs Th...
a                                    Heikkinen, Miss. Laina
b              Futrelle, Mrs. Jacques Heath (Lily May Peel)
c                                  Allen, Mr. William Henry
py                                         Moran, Mr. James
p                                   McCarthy, Mr. Timothy J
q                            Palsson, Master. Gosta Leonard
r         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
s                       Nasser, Mrs. Nicholas (Adele Achem)
t                           Sandstrom, Miss. Marguerite Rut
1         Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                    Heikkinen, Miss. Laina
3              Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                  Allen, Mr. William Henry
5                                          Moran, Mr. James
6                                   McCarthy, Mr. Timothy J
7                            Palsson, Master. Gosta Leonard
8         Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                       Nasser, Mrs. Nicholas (Adele Achem)
10                          Sandstrom, Miss. Marguerite Rut
dtype: object

In [53]:
s3[1] #taking default indeces

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [55]:
s3['shadab'] #taking the user defined indeces

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [56]:
pd.Series([3,4,5,6]) #Making a series without index

0    3
1    4
2    5
3    6
dtype: int64

In [59]:
s4 = pd.Series([3,4,5,6,6] , index = [2,4,6,8,10])

In [60]:
s4

2     3
4     4
6     5
8     6
10    6
dtype: int64

In [62]:

s5 =pd.Series([35,54,34,454,345], index = [1,4,6,8,9])

In [63]:
s5

1     35
4     54
6     34
8    454
9    345
dtype: int64

In [65]:
s6 = s4.append(s5)

/tmp/ipykernel_70/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [68]:

s6

2       3
4       4
6       5
8       6
10      6
1      35
4      54
6      34
8     454
9     345
dtype: int64

In [73]:
# here we can see that named indexes replacedd the default indexes
s6[1]

35

In [74]:
s6[8]

8      6
8    454
dtype: int64

In [75]:
s6[6]

6     5
6    34
dtype: int64

In [77]:
#Int this case it will consider the default indeces 
s6[0:5]

/tmp/ipykernel_70/809653465.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2     3
4     4
6     5
8     6
10    6
dtype: int64

In [81]:
s4,s5

(2     3
 4     4
 6     5
 8     6
 10    6
 dtype: int64,
 1     35
 4     54
 6     34
 8    454
 9    345
 dtype: int64)

In [85]:
##Only multiply which have same indeces

s4*s5

1        NaN
2        NaN
4      216.0
6      170.0
8     2724.0
9        NaN
10       NaN
dtype: float64

In [86]:

s4+s5

1       NaN
2       NaN
4      58.0
6      39.0
8     460.0
9       NaN
10      NaN
dtype: float64

In [87]:

s4/s5

1          NaN
2          NaN
4     0.074074
6     0.147059
8     0.013216
9          NaN
10         NaN
dtype: float64