In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#to check colums
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
s = df['Name'][1:11]

In [6]:
s

1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [7]:
len(s)

10

In [8]:
type(s)

pandas.core.series.Series

In [9]:
#to give your own index instead of which is aleady given in series
l = ['shad','b','c','d','e','f','g','h','i','j']

In [10]:
pd.Series(list(s),index =l) #replacing indexed with the list

shad    Cumings, Mrs. John Bradley (Florence Briggs Th...
b                                  Heikkinen, Miss. Laina
c            Futrelle, Mrs. Jacques Heath (Lily May Peel)
d                                Allen, Mr. William Henry
e                                        Moran, Mr. James
f                                 McCarthy, Mr. Timothy J
g                          Palsson, Master. Gosta Leonard
h       Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
i                     Nasser, Mrs. Nicholas (Adele Achem)
j                         Sandstrom, Miss. Marguerite Rut
dtype: object

In [11]:
s[1]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [12]:
s1 = pd.Series(list(s),index =l)

In [13]:
s1["shad"]

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [14]:
s1[0] #ptyhon always remember the default indexes,can also acces using the named indexes

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [15]:
s2 = s1.append(s) #s1 appending s which is series,Can append series only

/tmp/ipykernel_451/3862611213.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s) #s1 appending s which is series,Can append series only

In [16]:
s2[1] #will tale default indeces

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

In [19]:
s4 = pd.Series([3,4,5,6,6], index = [2,4,5,6,1])

In [20]:
s5 = pd.Series([35,54,34,454,345], index = [9,4,5,6,7])

In [22]:
s6 = s4.append(s5)

/tmp/ipykernel_451/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [23]:
s6

2      3
4      4
5      5
6      6
1      6
9     35
4     54
5     34
6    454
7    345
dtype: int64

In [26]:
s6[6] #named indexes replacedd the default indexes

6      6
6    454
dtype: int64

In [28]:
s6[1]

6

In [29]:
s6[0:5] # in thid case its considering the default indexes

/tmp/ipykernel_451/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [31]:
s4*s5

1       NaN
2       NaN
4     216.0
5     170.0
6    2724.0
7       NaN
9       NaN
dtype: float64

In [32]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [33]:
s5

9     35
4     54
5     34
6    454
7    345
dtype: int64

In [34]:
s4+s5

1      NaN
2      NaN
4     58.0
5     39.0
6    460.0
7      NaN
9      NaN
dtype: float64